@page
@model WebApp.Pages.BioPageModel
@{
    ViewData["Title"] = "Bio page";
}

<style>
    td {
        padding: 15px;
    }
</style>

<div class="text-center">
    <table>
        <tr>
            <th class="display-4">Matt Inkeles</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <img src="~/images/pic.png">
            </td>
            <td valign="top" align="left">
                <p>I'm a Software Engineering student at Kennesaw State University. <a href="https://www.linkedin.com/in/mattinkeles/">Here's my linkedin page</a>.
                   I have a passion for Ice Hockey (Go Caps!) and I love solving problems with computer programs.
                </p>
                <p>Created for my SWE 4633 class</p>
            </td>
        </tr>
    </table>
    
</div>