@page
@model WebApp.Pages.GradeEntryModel
@{
  ViewData["Title"] = "Student Grade Entry";
}
<h1>Enter your students' grades</h1>

<form method="post">
  ID
  <input type="number" name="id">
  Grade
  <input type="number" name="grade">
  <input type="submit" />
</form>
