@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my web app!</h1>
    <p>This site is used for my Cloud Software Development course assignments at Kennesaw State University.</p>
</div>
