@page
@model WebApp.Pages.BioPageModel
@{
    ViewData["Title"] = "Bio page";
}

<div class="text-center">
    <table>
        <tr>
            <th class="display-4">Matt Inkeles</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <img src="~/images/pic.png">
            </td>
            <td valign="top">
                <p>I'm a Software Engineering student at Kennesaw State University. <a href="https://www.linkedin.com/in/mattinkeles/">Here's my linkedin page</a>.</p>
                <p>Created for my SWE 4633 class</p>
            </td>
        </tr>
    </table>
    
</div>