@page
@model WebApp.Pages.BioPageModel
@{
    ViewData["Title"] = "Bio page";
}

<div class="text-center">
    <h1 class="display-4">Matt Inkeles</h1>
    <p>I'm a Software Engineering student at Kennesaw State University. <a href="https://www.linkedin.com/in/mattinkeles/">Here's my linkedin page</a>.</p>
    <p>Created for my SWE 4633 class</p>
</div>