@page
@model WebApp.Pages.GradeViewModel
@{
  ViewData["Title"] = "Student Grade View";
}

<h1>Student Grades</h1>

@{
  for (int i = 0; i < Model.students.Count(); i++)
  {
    <p>@Model.students[i]</p>
  }
}
